button {
   margin-right: 20px;
}
@media(min-width: 1200px) {   
   button {
    margin-right: 20px;
    }

    .nav {
    display: flex;
    justify-content: flex-end;
    width:96%;
    position: absolute;
    /* float:right */
    }

    .nav-item {
    color: white;
    list-style-type: none;
    margin: .5rem;
    background-color: #97CD7F;
    padding: 5px;
    border-radius: 5%;
    /* float:right; */
    }

    .nav-item a {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    letter-spacing: .5px;
    }
}

@media(max-width: 1200px) and (min-width: 700px) {   
    button {
     margin-right: 20px;
     }
 
     .nav {
     display: flex;
     justify-content: flex-end;
     width:80%;
     position: absolute;
     /* float:right; */
     }
 
     .nav-item {
     color: white;
     list-style-type: none;
     margin: .5rem;
     background-color: #97CD7F;
     padding: 5px;
     border-radius: 5%;
     }
 
     .nav-item a {
     color: #ffffff;
     text-decoration: none;
     font-family: 'Montserrat';
     font-weight: 700;
     font-size: 24px;
     letter-spacing: .5px;
     }
 }

 
@media (max-width: 700px) {   
    button {
     margin-right: 20px;
     }
 
     .nav {
     /* display: flex; */
     /* justify-content: flex-end; */
     width:80%;
     position: absolute;
     top: 0;
     overflow:hidden;
     /* float:right; */
     }
 
     .nav-item {
     color: white;
     list-style-type: none;
     margin: .2rem;
     background-color: #97CD7F;
     padding: 5px;
     border-radius: 5%;
     float:left;
     display: block;
     }
 
     .nav-item a {
     color: #ffffff;
     text-decoration: none;
     font-family: 'Montserrat';
     font-weight: 700;
     font-size: 24px;
     letter-spacing: .5px;
     }
 }
